/****** General desktop ***********/
* {
    font-family: 'Raleway', sans-serif;
}


.flexcentre {

    display: flex;
    justify-content: center;
    align-items: center;

}

.flexaround {

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.flexbetween{
display: flex;
justify-content: space-between;
align-items: center;

}

.bordureNone {
    border:none;



}

.buttonsearch {

    height: 50px;
    width: 120px;
}

marglogo{
margin-bottom: 7px;

}

.sizeLiens {
    width: 45% ;
}

.borduresearch{

    width:400px;
    border-radius: 10px;
}


.sizehebergements{
flex : 2;
height: 650px;
margin-right: 20px;
border-radius: 10px;


}

.sizepopulaires{
    flex:1 ;
    height : 650px ; 
    margin-left: 20px;
    border-radius: 10px;


}